<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <h2>Welcome to Luna!</h2>
    <p class="lead">Luna can help you to monitor:</p>
    <ol style="word-wrap:break-word;">
      <li>Devices or servers running in a private network(like a RaspberryPi in your home)</li>
      <li>Applications who run without a port used for monitoring</li>
      <li>Scheduled jobs need to be run periodically</li>
      <li>Other scenarios you need to know the running status or network status of a device</li>
    </ol>

    <p class="lead">Requirements to use Luna:</p>
    <ol style="word-wrap:break-word;">
      <li>Access to the Internet</li>
      <li>Ability to send http requests or trigger webhooks</li>
    </ol>

      <p class="lead">How Luna works:</p>
      <ol style="word-wrap:break-word;">
          <li>Your device or app sends a heartbeat through a http(get) request periodically</li>
          <li>Luna examines and finds those who failed to send a heartbeat in time and triggers notifications</li>
      </ol>

      <p class="lead">How to use Luna</p>
      <p class="font-italic">All parameters of Luna's http requests can be sent via GET or POST</p>
      <p class="font-italic">Responses are in json format, successful responses are like {"status":1, "data": null} while error responses are like {"status":0, "message": "name cannot be empty"} with a <span class="font-italic">status</span> value <span class="font-italic">0</span>.</p>
      <ol style="word-wrap:break-word;">
          <li>
              <p><strong>Create A Pony</strong></p>
              <p>To Luna, each device or app is called a pony.You can add a pony through an HTTP request.</p>
              <p class="mb-0">URL</p>
              <p><code>https://{{ domain }}{% url 'add_pony' %}</code></p>
              <p class="mb-0">Params</p>
              <table class="table">
                  <thead class="thead-light">
                  <tr><th>Name</th><th>Required</th><th>Description</th></tr>
                  </thead>
                  <tbody>
                    <tr><td>name</td><td>True</td><td>Name of the pony, each pony has a unique name. 2~50 characters</td></tr>
                    <tr><td>passcode</td><td>True</td><td>Passcode needed for further operations, keep it secret and safe.Cannot be recovered once lost.</td></tr>
                    <tr>
                        <td>dark_minute</td>
                        <td>True</td>
                        <td>Integer value. If after this number of minutes Luna still failed receive a pony's message, Luna would consider the pony was in trouble and trigger notifications.</td>
                    </tr>
                    <tr>
                        <td>notify_channel</td>
                        <td>True</td>
                        <td>Certain notification types when Luna has message for you.Currently Luna supports: <br />
                            <ul>
                                <li>EMAIL:Send an Email. Set notify_url to your e-mail address.</li>
                                <li>DINGTALK:Send to a DingTalk group as a group robot. Set notify_url to the robot's webhook address.</li>
                                <li>WORKWECHAT:Send to a WorkWechat group as a group robot. Set notify_url to the robot's webhook address.</li>
                                <li>SLACK:Send to a Slack channel as a robot.Set notify_url to the robot's webhook address.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>notify_url</td>
                        <td>True</td>
                        <td>Specified value corresponding to the notify_channel param above.</td>
                    </tr>
                  </tbody>
              </table>
          </li>
          <li><p><strong>Say Hi to Luna</strong></p>
            <p>After your pony was created, it needs to send message to Luna periodically.So Luna knows if a pony is going well or has some trouble.</p>
              <p class="mb-0">URL</p>
              <p><code>https://{{ domain }}{% url 'hi_pony' %}</code></p>
              <p class="mb-0">Params</p>
              <ul>
                  <li>name: Your pony's name</li>
                  <li>passcode: Your pony's passcode</li>
              </ul>
              <p></p>
              <p>Be advised, the interval of your pony's Hi requests needs to be smaller than the <span class="font-weight-bold">dark_minute</span> param of the pony.</p>
              <p>Some Examples:</p>
              <ul>
                  <li>If you can control the code, just send the HTTP request at a fixed interval</li>
                  <li>If you are running a script, add the request command after the execution of your script.
                  <p><code>yourcommand && curl 'https://{{ domain }}{% url 'hi_pony' %}?name=*****&passcode=*****'</code></p>
                  </li>
                  <li>
                      If you just want to check whether your device is online, add the request command to your crontab or something similar.
                      <p><code>*/30 * * * * curl 'https://{{ domain }}{% url 'hi_pony' %}?name=*****&passcode=*****'</code></p>
                  </li>
              </ul>
          </li>
          <li>
              <p>
                  <strong>Change Your Pony</strong>
              </p>
              <p class="mb-0">URL</p>
              <p><code>https://{{ domain }}{% url 'change_pony' %}</code></p>
              <p class="mb-0">Params</p>
              <p>Params are the same as the create request,but you cannot change your pony's name and passcode.</p>
          </li>

          <li>
              <p>
                  <strong>Get Your Pony's Info</strong>
              </p>
              <p class="mb-0">URL</p>
              <p><code>https://{{ domain }}{% url 'get_pony' %}</code></p>
              <p class="mb-0">Params</p>
              <ul>
                  <li>name: Your pony's name</li>
                  <li>passcode: Your pony's passcode</li>
              </ul>
          </li>

          <li>
              <p>
                  <strong>Remove Your Pony</strong>
              </p>
              <p>Most of the times, you don't need to explicitly remove your pony. If your pony stops saying hi for some time, Luna will remove ponies who stay missing for more than a month.But in case you want to do this by yourself, you can use the request below</p>
              <p class="mb-0">URL</p>
              <p><code>https://{{ domain }}{% url 'remove_pony' %}</code></p>
              <p class="mb-0">Params</p>
              <ul>
                  <li>name: Your pony's name</li>
                  <li>passcode: Your pony's passcode</li>
              </ul>
          </li>


      </ol>

      <p class="lead">Why Luna is the name</p>
      <ul style="word-wrap:break-word;">
          <li>
              If you are a fan of My Little Pony, you must have been familiar with Princess Luna. In Equestria, Princess Luna controls the Moon and the night, meanwhile she protects little ponies from nightmares.She will find ponies who are in a nightmare, go into that dream and give the pony tips to get out.
          </li>
      </ul>
</body>
</html>